@media all and (max-width:1200px){
    .primary-header .nav-item > a {
        padding: 20px 15px;
    }
    .logo{
        padding-right: 10px;
    }
    .right-pannel .inner-dropdown-parent a {
        padding: 20px 10px;
    }
    .nav-wrap {
        width: calc(100% - 163px);
    }
}
@media all and (max-width:991px){
    .nav-wrap {
        width: calc(100% - 86px);
    }
    .primary-header .nav-item > a {
        padding: 20px 15px;
        position: relative;
    }
    .primary-header li a{
        font-size: 14px;
    }
    .header .logo a{
        font-size: 0;
    }
    .header .logo .logo-icon .logo-icon-2{
        font-size: 19px;
    }
    .logo{
        font-size: 20px;
    }
    .header .logo .logo-icon{
        margin-right: 0;
    }
    .navigation-bar .arrow-dropdown{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 0;
    }
}
@media all and (max-width:767px){
    body{
        overflow-x: hidden;
    }
    .header {
        align-items: center;
        // position: relative;
        justify-content: space-between;
    }
    .hamburger{
        display: block;
        // width: 25px;
        // position: absolute;
        // top:50%;
        // transform: translateY(-50%);
        // right: 0;
        width: 25px;
        span{
            display: block;
            height: 2px;
            background-color: #000;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .nav-wrap{
        // display: none;
        position: absolute;
        right: 0;
        top:calc(100% - 1px);
        display: block;
        background-color: #fff;
        width: 100vw;
    }
    .nav-section .navigation-bar{
        display: block;
    }
    .primary-header .nav-item > a {
        padding: 20px 25px;
        position: relative;
    }
    .navigation-bar .arrow-dropdown{
        right: 25px;
    }
}