.secondary-strip {
  background: #f9f8f2;
  padding: 12px 14px;
  color: #4a4a4a;
  font-size: 0.875rem;
  line-height: normal;
  z-index: 999;
  position: relative;
  .content {
    display: flex;
    justify-content: space-between;
  }
  i {
    padding-right: 5px;
  }
  p {
    margin: 0;
  }
}
.secondary-strip ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
}
