.secondary-strip {
  background: #f9f8f2;

  color: #4a4a4a;
  font-size: 0.875rem;
  line-height: normal;
  z-index: 999;
  position: relative;
  .content {
    display: flex;
    justify-content: space-between;
  }
  i {
    padding-right: 5px;
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .profile-icon-sec {
    padding: 5px;
  }
  .profile-icon {
    font-size: 21px;
    cursor: pointer;
  }
  .sub-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    width: 134px;
    box-shadow: 0px 3px 9px 0px #d9d8d87a;
    display: none;
  }
}
.secondary-strip ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  padding: 12px 14px;
  position: relative;
}

.form-body {
  .form-set {
    label {
      display: block;
      margin-bottom: 7px;
    }
    input {
      display: block;
    }
  }
}

.login-modal {
  .modal-content {
    border: 0 solid transparent;
  }
  .modal-dialog {
    width: 800px;
    max-width: 800px;
  }
  .modal-body {
    padding: 0;
  }
  .login-wrapper {
    display: flex;
    .sec-1 {
      color: #fff;
      background-color: #2874f0;
      width: 40%;
      padding: 50px;
      h2 {
        margin-bottom: 50px;
      }
      p {
        margin-bottom: 100px;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .sec-2 {
      width: 60%;
      padding: 50px;
    }
  }
  .button-grp {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
}

.navbar-secondary {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width:767px){
  .workshop-strip{ 
      .sec-1 {
      width: 100%!important;
  }
}
  .workshop-strip{
      .sec-2 {
      width: 0!important;
  }
}
  body{
      overflow-x: hidden;
  }
  .header {
      align-items: center;
      // position: relative;
      justify-content: space-between;
  }
  .hamburger{
      display: block;
      // width: 25px;
      // position: absolute;
      // top:50%;
      // transform: translateY(-50%);
      // right: 0;
      width: 25px;
      span{
          display: block;
          height: 2px;
          background-color: #000;
          margin-bottom: 5px;
          &:last-child{
              margin-bottom: 0;
          }
      }
  }
  .nav-wrap{
      position: absolute;
      right: 0%;
      top:calc(100% - 1px);
      display: block;
      background-color: #fff;
      
      left: auto;
      transition-duration: 0.5s;
      width:0;
      overflow: hidden;
  }
  .nav-wrap.open{
      right: 0%;
      width: 80vw;
      display: block;
  }
  .nav-section .navigation-bar{
      display: block;
  }
  .primary-header .nav-item > a {
      padding: 20px 25px;
      position: relative;
  }
  .navigation-bar .arrow-dropdown{
      right: 25px;
  }
}
@media all and (max-width:567px){
  .secondary-strip ul li{  
      margin-left: 0; 
      padding: 4px 10px; 
  }
  .navbar-secondary{
      li:first-child{
          font-size:0;
      }
      .call{
          font-size:20px;
      }
  }

}