.banner-slider {
  .item {
    height: 500px;
    background-color: #eee;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
    z-index: 1;
  }
}
