@import "../../../../../Assets/Style/variables.scss";

.subcat-strip {
  .item {
    margin-bottom: 30px;
  }
  margin-top: 50px;
  .poster {
    position: relative;
    height: 295px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 2px;
      &:hover {
        filter: brightness(1.02);
      }
    }
  }
  .label {
    font-size: 18px;
    text-align: center;
    padding: 25px 0;
    // border: 1px solid lightgray;
    // border-top: 0;
  }
  .desc {
    margin-bottom: 25px;
    text-align: center;
  }
  .sticker {
    background-color: #ffffff73;
    color: #282828e0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.head-a {
  margin-bottom: 50px;
  display: block;
  font-size: 20px;
  color: $gray-secondary;
  .content {
    padding-bottom: 5px;
    display: block;
  }
  .border-item {
    width: 120px;
    margin: 0 auto;
    height: 2px;
    background-color: $primary-theme-color;
  }
}

.desc-a {
  margin-bottom: 25px;
  display: block;
  color: $gray-secondary;
  font-size: 18px;
}

.subcat-strip2 .poster {
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: auto;
    width: 70%;
  }
}
