@import "../../../../../Assets/Style/variables.scss";

.subcat-strip {
  margin-top: 120px;
  .poster {
    position: relative;
    height: 295px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    margin-bottom: 15px;
  }
  .label {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .desc {
    margin-bottom: 25px;
    text-align: center;
  }
  .sticker {
    background-color: #ffffff73;
    color: #282828e0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.head-a {
  margin-bottom: 15px;
  display: block;
  font-size: 25px;
  color: $gray-secondary;
}

.desc-a {
  margin-bottom: 25px;
  display: block;
  color: $gray-secondary;
}
